a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block
}

body {
  line-height: 1
}

ol,ul {
  list-style: none
}

blockquote,q {
  quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
  content: "";
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

@font-face {
  font-family: Indie Flower;
  font-style: normal;
  font-weight: 400;
  src: local("Indie Flower"),local("IndieFlower"),url(https://fonts.gstatic.com/s/indieflower/v9/10JVD_humAd5zP2yrFqw6ugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: u+00??,u+0131,u+0152-0153,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2212,u+2215
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400
}

h1 {
  font-size: 7vw;
}

h2 {
  font-size: 2.35em
}

h3 {
  font-size: 1.95em
}

h4 {
  font-size: 1.65em
}

h5 {
  font-size: 1.313em
}

h6 {
  font-size: 1.125em
}

@-webkit-keyframes dash {
  to {
      stroke-dashoffset: 0
  }
}

@keyframes dash {
  to {
      stroke-dashoffset: 0
  }
}

@-webkit-keyframes fadeInOut {
  0% {
      opacity: 0
  }

  50% {
      opacity: 1
  }

  to {
      opacity: 0
  }
}

@keyframes fadeInOut {
  0% {
      opacity: 0
  }

  50% {
      opacity: 1
  }

  to {
      opacity: 0
  }
}

@-webkit-keyframes fadeOutIn {
  0% {
      opacity: 1
  }

  50% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@keyframes fadeOutIn {
  0% {
      opacity: 1
  }

  50% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@-webkit-keyframes fadeOut {
  0% {
      opacity: 1
  }

  to {
      opacity: 0
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1
  }

  to {
      opacity: 0
  }
}

/* @media only screen and (max-width: 480px) {
  h1 { font-size: 2em; }
} */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  color: #fff;
  font-family: Indie Flower,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;
  letter-spacing: .5px;
  line-height: 1.75
}

img {
  max-width: 100%;
  height: auto
}

a,a:active,a:hover,a:link,a:visited {
  text-decoration: none;
  color: #fff
}

.hero {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative
}

.hero,.main-nav {
  display: -ms-flexbox;
  display: flex
}

.main-nav__link {
  color: #fff;
  margin: 0 20px
}

.background-gradient {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1
}

.background-gradient--blue-purple {
  -webkit-animation: fadeInOut 25s ease;
  animation: fadeInOut 25s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #1d2b64;
  background-image: -webkit-gradient(linear,left top,right top,from(#1d2b64),to(#f8cdda));
  background-image: linear-gradient(90deg,#1d2b64,#f8cdda)
}

.background-gradient--green-blue {
  -webkit-animation: fadeOutIn 25s ease;
  animation: fadeOutIn 25s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #43cea2;
  background-image: -webkit-gradient(linear,left top,right top,from(#43cea2),to(#185a9d));
  background-image: linear-gradient(90deg,#43cea2,#185a9d)
}

