body, html {
  height: 100%;
  width: 100%;
}

.bg1 {
  height: 100%;
  background-image: url(https://static.pexels.com/photos/374710/pexels-photo-374710.jpeg);
  background-position: center center;
  background-size: cover;
  /*background-repeat: no-repeat;
  background-color: transparent;*/
}

.bg2 {
  height: 100%;
  background-image: url(http://www.youwall.com/papel/forest_wallpaper_8d927.jpg);
  background-position: center bottom;
  background-size: cover;
}
